{% spaceless %}
	<div class="plan">
		<ul>
			<li class="title">
				{{ plan.name }}
			</li>
			<li class="title">
				{{ plan.description }}
			</li>
			<li class="price">
				{% if plan.defaultPrice %}
					<span class="currency-symbol">{{ plan.defaultPrice.currencySymbol }}</span>
					<strong>{{ plan.defaultPrice.price|split(".")[0]}}</strong>
					<sup>{{ plan.defaultPrice.price|split(".")[1] }}</sup>
					<em>/{{ plan.defaultPrice.period.name }}</em>
				{% endif %}
			</li>

			{% for feature in plan.features %}
				<li class="feature">
					<span class="pull-right">{{ feature }}</span>{{ feature.definition.name }}
				</li>
			{% endfor %}

			<li class="button">
				<button class="btn btn-large">
					<i class="icon-shopping-cart"></i>&nbsp;&nbsp;Sign Up
				</button>
			</li>
		</ul>
	</div>
{% endspaceless %}
