{% extends "DzangocartSubscriptionBundle::frontend.html.twig" %}

{% trans_default_domain "dzangocart_subscription" %}

{% block dzangocart_subscription_head_style %}
	{{ parent() }}
	{% stylesheets filter="cssrewrite"
		'bundles/dzangocartsubscription/css/pricing.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	    <link href="{{ asset('bundles/dzangocartsubscription/css/pricingThemes/'~ theme ~'.css') }}" type="text/css" rel="stylesheet" media="screen"/>
	{% endstylesheets %}
{% endblock %}

{% block dzangocart_subscription_page_class %}{{ theme }}{% endblock %}

{% block dzangocart_subscription_content %}
	<div class="row">
		<div class="col-md-{{ row_width }} span-centered">
			<div class="row">
				{% for plan in plans %}
					<div class="col-md-{{ col_width }} plan">
						<ul>
							<li class="title">
								{{ plan.name }}
							</li>
							<li class="title">
								{{ plan.description }}
							</li>
							<li class="price">
								{{ plan.defaultPrice }}
							</li>

							{% for feature in plan.features %}
								<li>
									<span class="feature pull-right">{{ feature }}</span>{{ feature.definition.name }}
								</li>
							{% endfor %}

							<li class="button">
								<button class="btn btn-large">
									<i class="icon-shopping-cart"></i>&nbsp;&nbsp;Sign Up
								</button>
							</li>
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
