{% extends "DzangocartSubscriptionBundle::frontend.html.twig" %}

{% trans_default_domain "dzangocart_subscription" %}

{% block dzangocart_subscription_head_style %}
	{{ parent() }}
	{% stylesheets filter="cssrewrite"
		'bundles/dzangocartsubscription/css/pricing.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	    <link href="{{ asset('bundles/dzangocartsubscription/css/pricingThemes/'~ theme ~'.css') }}" type="text/css" rel="stylesheet" media="screen"/>
	{% endstylesheets %}
{% endblock %}

{% block dzangocart_subscription_page_class %}{{ theme }}{% endblock %}

{% block dzangocart_subscription_content %}
	<div class="row">
		<div class="col-md-{{ row_width }} span-centered">
			<div class="row">
				{% for plan in plans %}
					<div class="col-md-{{ col_width }}">
						{% include "DzangocartSubscriptionBundle:Pricing:plan.html.twig" %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
