{% extends "DzangocartSubscriptionBundle::admin.html.twig" %}

{% trans_default_domain "dzangocart_subscription" %}

{% block dzangocart_subscription_head_style %}
	{% stylesheets filter="cssrewrite"
		'bundles/dzangocartsubscription/css/feature.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock %}

{% block dzangocart_subscription_page_nav %}
	<a type='button' class='btn btn-default pull-right' href="{{ path('dzangocart_subscription_feature_create') }}">
		{% trans %}feature.features.nav.create{% endtrans %}
	</a>
{% endblock %}

{% block dzangocart_subscription_page_class %}features{% endblock %}

{% block dzangocart_subscription_page_title %}{% trans %}feature.features.page_title{% endtrans %}{% endblock %}

{% block dzangocart_subscription_content %}
	<table class="table table-condensed noajax">
		<thead>
			<tr>
				<th class="rank">{% trans %}feature.features.rank{% endtrans %}</th>
				<th class="name">{% trans %}feature.features.name{% endtrans %}</th>
				<th class="description">{% trans %}feature.features.description{% endtrans %}</th>
				<th class="actions"><i class="fa fa-cog"></i></th>
			</tr>
		</thead>
		<tbody>
			{% for feature in features %}
				<tr>
					<td class="number">{{ feature.rank }}</td>
					<td><a href="{{ path('dzangocart_subscription_feature', { 'id': feature.id }) }}">{{ feature.name }}</a></td>
					<td>{{ feature.description }}</td>
					<td class="actions">{% include "DzangocartSubscriptionBundle:Feature:actions.html.twig" %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
