{% extends "DzangocartSubscriptionBundle:Admin:layout.html.twig" %}

{% trans_default_domain "feature" %}

{% block plan_head_style %}
	{{ parent() }}
{% endblock %}

{% block plan_page_title %}
	<a type='button' class='btn btn-default pull-right' href="{{ path('dzangocart_subscription_feature_create') }}">
		{% trans %}feature.features.action.create{% endtrans %}
	</a>
	<h2>{% trans %}feature.features.list{% endtrans %}</h2>
{% endblock %}

{% block bodyclass %}features{% endblock %}

{% block plan_content %}
	<table class="table table-condensed">
		<thead>
			<tr>
				<th class="rank"></th>
				<th class="name">{% trans %}feature.features.name{% endtrans %}</th>
				<th class="description">{% trans %}feature.features.description{% endtrans %}</th>
				<th class="actions">{% trans %}feature.features.action.title{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for feature in features %}
				<tr>
					<th>{{ feature.rank }}</th>
					<th>{{ feature.name }}</th>
					<th>{{ feature.description }}</th>
					<th><a href='{{ path('dzangocart_subscription_feature_edit', { 'id' : feature.id }) }}'>{% trans %}feature.features.action.edit{% endtrans %}</a></th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block plan_foot_script %}
	{{ parent() }}
{% endblock %}
