{% trans_default_domain "dzangocart_subscription" %}

{{ form_start(form) }}

<h3>{% trans %}plan.edit.title{% endtrans %}</h3>

{{ form_errors(form) }}

{% for flashMessage in app.session.flashbag.get('plan.edit') %}
	<div class="alert alert-success">
		{{ flashMessage }}
	</div>
{% endfor %}

<div class="row">
	<div class='col-sm-6'>
		<div class='input-group date' id='datetimepicker1'>
			{{ form_widget(form.startdate) }}
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class='col-sm-6'>
		<div class='input-group date' id='datetimepicker2'>
			{{ form_widget(form.finishdate) }}
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
</div>


{{ form_rest(form) }}

{{ form_end(form) }}
