{% trans_default_domain "dzangocart_subscription" %}

{{ form_start(form) }}

<h3>{% trans %}plan.edit.title{% endtrans %}</h3>

{{ form_errors(form) }}

{% for flashMessage in app.session.flashbag.get('plan.edit') %}
	<div class="alert alert-success">
		{{ flashMessage }}
	</div>
{% endfor %}

{{ form_row(form.name) }}

{{ form_row(form.description) }}

<div class="row">
	<div class='col-sm-6'>
		{{ 'plan.form.from.label' | trans }}
		<div class='input-group date' id='start_datetimepicker' data-date-format="YYYY-MM-DD">
			{{ form_widget(form.startdatepicker) }}
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class='col-sm-6'>
		{{ 'plan.form.to.label' | trans }}
		<div class='input-group date' id='finish_datetimepicker' data-date-format="YYYY-MM-DD">
			{{ form_widget(form.finishdatepicker) }}
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
</div>

<div style="display: none;">
	{{ form_widget(form.start) }}
	{{ form_widget(form.finish) }}
</div>

{{ form_row(form.save) }}

{{ form_end(form) }}
