{% trans_default_domain "dzangocart_subscription" %}

{{ form_start(form) }}

<h3>{% trans %}plan.features.title{% endtrans %}</h3>

{{ form_errors(form) }}

{% for flashMessage in app.session.flashbag.get('plan.features') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<table class="table">
	<thead>
		<tr>
			<th class="name">{% trans %}plan.features.name{% endtrans %}</th>
			<th class="value">{% trans %}plan.features.value{% endtrans %}</th>
			<th class="unit">{% trans %}plan.features.unit{% endtrans %}</th>
			<th class="period">{% trans %}plan.features.period{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
	{% for id, feature in form.features %}
		<tr>
			<td>{{ features[id].definition.name }}</td>
			<td>{{ form_widget(feature.value) }}</td>
			<td>{{ form_widget(feature.unit) }}</td>
			<td>{{ form_widget(feature.period) }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{{ form_rest(form) }}

{{ form_end(form) }}