{% trans_default_domain "dzangocart_subscription" %}

{{ form_start(form) }}

<h3>{% trans %}plan.show.features{% endtrans %}</h3>

<table class="table">
	<thead>
		<tr>
			<th class="name">{% trans %}plan.feature.name{% endtrans %}</th>
			<th class="value">{% trans %}plan.feature.value{% endtrans %}</th>
			<th class="unit">{% trans %}plan.feature.unit{% endtrans %}</th>
			<th class="period">{% trans %}plan.feature.period{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
	{% for id, feature in form.features %}
		<tr>
			<td>{{ features[id].definition.name }}</td>
			<td>{{ form_widget(feature.value) }}</td>
			<td>{{ form_widget(feature.unit) }}</td>
			<td>{{ form_widget(feature.period) }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{{ form_rest(form) }}