{% extends "DzangocartSubscriptionBundle::admin.html.twig" %}

{% trans_default_domain "dzangocart_subscription" %}

{% block dzangocart_subscription_head_style %}
	{% stylesheets filter="cssrewrite"
		'bundles/dzangocartsubscription/css/plan.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock %}

{% block dzangocart_subscription_page_nav %}
	<a type='button' class='btn btn-default pull-right' href="{{ path('dzangocart_subscription_plan_create') }}">
		{% trans %}plan.plans.nav.create{% endtrans %}
	</a>
{% endblock %}

{% block dzangocart_subscription_page_class %}plans{% endblock %}

{% block dzangocart_subscription_page_title %}{% trans %}plan.plans.page_title{% endtrans %}{% endblock %}

{% block dzangocart_subscription_content %}

{% for flashMessage in app.session.flashbag.get('dzangocart.plans.success') %}
	<div class="alert alert-success">
		{{ flashMessage }}
	</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('dzangocart.plans.unsuccess') %}
	<div class="alert alert-danger">
		{{ flashMessage }}
	</div>
{% endfor %}

{% include "DzangocartSubscriptionBundle:Plan:plans.html.twig" %}

{% endblock %}

{% block dzangocart_subscription_foot_script %}
	{% javascripts
		'bundles/dzangocartsubscription/vendor/jquery.cookie/jquery.cookie.min.js'
		'bundles/dzangocartsubscription/vendor/jquery-table-dnd/jquery.tablednd.js'
		'bundles/dzangocartsubscription/js/plans.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		var dzangocart_subscription = {
			plans : {
				tablednd: {
					ajax: {
						loading: '{% trans %}plan.plans.tablednd.ajax.loading{% endtrans %}',
						url: '{{ path('dzangocart_subscription_plan_ranks_change') }}'
					}
				}
			}
		};
	</script>
{% endblock %}