{% trans_default_domain "dzangocart_subscription" %}

{{ form_start(form) }}

<h3>{% trans %}plan.prices.title{% endtrans %}</h3>

{{ form_errors(form) }}

{% for flashMessage in app.session.flashbag.get('plan.prices') %}
	<div class="alert alert-success">
		{{ flashMessage }}
	</div>
{% endfor %}

<table class="table">
	<thead>
		<tr>
			<th class="currency">{% trans %}plan.prices.currency{% endtrans %}</th>
			<th class="price">{% trans %}plan.prices.price{% endtrans %}</th>
			<th class="period">{% trans %}plan.prices.period{% endtrans %}</th>
			<th class="date">{% trans %}plan.prices.start{% endtrans %}</th>
			<th class="date">{% trans %}plan.prices.finish{% endtrans %}</th>
			<th class="default">{% trans %}plan.prices.default.label{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
		{% set count = 0 %}
		{% for price in form.prices %}
			<tr>
				<td>{{ form_widget(price.currency) }}</td>
				<td>{{ form_widget(price.price) }}</td>
				<td>{{ form_widget(price.period) }}</td>
				<td>
					<div style="display: none">{{ form_widget(price.start) }}</div>
					<div id='start_datetimepicker_{{ count }}' data-date-format="YYYY-MM-DD">
						{{ form_widget(price.startdatepicker) }}
					</div>
				</td>
				<td>
					<div style="display: none">{{ form_widget(price.finish) }}</div>
					<div id='finish_datetimepicker_{{ count }}' data-date-format="YYYY-MM-DD">
						{{ form_widget(price.finishdatepicker) }}
					</div>
				</td>
				<td>{{ form_widget(price.isdefault) }}</td>
			</tr>
			{% set count = count + 1 %}
		{% endfor %}
	</tbody>
</table>

{{ form_rest(form) }}

{{ form_end(form) }}

<script>
	dzangocart_subscription_plan_prices = {
		count: {{ count }}
	};
</script>
