{% trans_default_domain "dzangocart_subscription" %}

{{ form_start(form) }}

<h3>{% trans %}plan.prices.title{% endtrans %}</h3>

{{ form_errors(form) }}

{% for flashMessage in app.session.flashbag.get('plan.prices') %}
	<div class="alert alert-success">
		{{ flashMessage }}
	</div>
{% endfor %}

<table class="table noajax">
	<thead>
		<tr>
			<th class="currency">{% trans %}plan.prices.currency{% endtrans %}</th>
			<th class="price">{% trans %}plan.prices.price{% endtrans %}</th>
			<th class="period">{% trans %}plan.prices.period{% endtrans %}</th>
			<th class="date">{% trans %}plan.prices.start{% endtrans %}</th>
			<th class="date">{% trans %}plan.prices.finish{% endtrans %}</th>
			<th class="default">{% trans %}plan.prices.default.label{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
		{% for price in form.prices %}
			<tr class="price">
				<td>{{ form_widget(price.currency) }}</td>
				<td>{{ form_widget(price.price) }}</td>
				<td>{{ form_widget(price.period) }}</td>
				<td>
					{{ form_widget(price.start) }}
				</td>
				<td>
					{{ form_widget(price.finish) }}
				</td>
				<td>{{ form_widget(price.isdefault) }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{{ form_rest(form) }}

{{ form_end(form) }}
