{% extends "DzangocartSubscriptionBundle:Admin:layout.html.twig" %}

{% block content %}
<section class="dzangocart plans">
    <div class="toolbar">
        <a href="{{ path('plans') }}" class="cancel">
            {% trans from "subscription" %}actions.back_to_list{% endtrans %}
        </a>
        <a class="delete" href="{{ path('plan_delete', { 'id': entity.id }) }}" class="delete">
            {% trans from "subscription" %}actions.delete{% endtrans %}
        </a>
        <a href="{{ path('plan_edit', { 'id': entity.id }) }}" class="edit">
            {% trans from "subscription" %}actions.edit{% endtrans %}
        </a>
    </div>
    <h2>{{ entity.name }}</h2>

    <table class="show plan">
        <tbody>
            <tr>
                <th>{% trans from "subscription" %}plan.name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{% trans from "subscription" %}plan.description{% endtrans %}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{% trans from "subscription" %}plan.available_from{% endtrans %}</th>
                <td>{{ entity.dateStart ? entity.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans from "subscription" %}plan.available_until{% endtrans %}</th>
                <td>{{ entity.dateEnd ? entity.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans from "subscription" %}plan.price{% endtrans %}</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>{% trans from "subscription" %}plan.default{% endtrans %}</th>
                <td>
                    {% if entity.isDefault %}<img src="{{ asset('bundles/dzangocartsubscription/images/tick.png') }}" />{% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
